*{
  background-color: rgb(46, 46, 46);
}
.main{
  width:100%;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}
.content{
  width:60%;
  height:30vh;
  padding: 10px;
}
.taginput{
  width:auto;
  height:auto;
  background-color: black;
  border:1px solid rgb(75, 75, 75);
  border-radius: 4px;
}
.taginput:focus-within{
  border: 1px solid rgb(32, 32, 38);
}
.taginput input{
  background-color: transparent;
  border: none;
  outline: none;
  width:100%;
  color: white;
}
.taginput button{
  color: rgb(0, 11, 50);
  background-color: rgb(255, 254, 240);
  border-radius: 4px;
  padding: 3px;
  margin: auto;
}